.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 160px 0;
}

.innerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.textColumn {
  padding: 20px;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.textColumn h2 {
  font-size: 48px;
  font-weight: 600;
}

.textColumn p {
  font-size: 20px;
}

.imageColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.image {
  width: 80%;
  height: auto;
}
@media (max-width: 90em) {
  .innerContainer {
    width: 85%;
  }
  .textColumn {
    padding: 0;
  }
}

@media (max-width: 25em) {
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px 0;
  }
  .innerContainer {
    flex-direction: column;
    width: 95%;
  }
  .imageColumn {
    width: 100%;
  }
  .textColumn {
    width: 100%;
  }
  .textColumn h2 {
    font-size: 32px;
  }
  .textColumn p {
    font-size: 16px;
  }
}
