.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  width: 100vw;
  background-color: #988cff;
  padding: 160px;
}

.header {
  color: #ffffff;
  font-size: 56px;
  font-weight: 600;
}

.question {
  color: #ffffff;
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
  margin-top: 20px;
  width: 60%;
  text-align: center;
}
